.title
  %p
    = title_hlp(state)
    == (#{tasks.size})
%ul.content.droppable{:id => "list_#{state}"}
  %input{:type => 'hidden', :value => state, :name => 'state', :class => 'state'}
  - tasks.each do |task|
    %li.left{:id => task.id, :class => "draggable"}
      = render task
.clear      
