$primary_color: #4b7399

body
  background-color: #f1f1f1
  //$primary_color
  font:
    family: Ubuntu,Verdana, Helvetica, Arial
    size: 14px

a
  color: #2E6E9E
  text-decoration: none
  img
    border: none

.clear
  clear: both
  height: 0
  overflow: hidden

#container
  -webkit-box-shadow: 0px 0px 5px 5px #ccc
  -moz-box-shadow: 0px 0px 5px 5px #ccc
  box-shadow: 0px 0px 5px 5px #ccc
  width: 90%
  margin: 0 auto
  background: white
  padding: 20px
  border: solid 1px #fff
  border-radius: 10px
  margin-top: 20px

#flash_notice,
#flash_error,
#flash_alert
  padding: 5px 8px
  margin: 10px auto
  text-align: center
  font-size: 12px
  width: 50%

#flash_notice
  background-color: #ccffcc
  border: solid 1px #66cc66

#flash_error,
#flash_alert
  background-color: #ffcccc
  border: solid 1px #cc6666

.fieldWithErrors
  display: inline

.error_messages
  width: 400px
  border: 2px solid #cf0000
  padding: 0
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0
  font:
    size: 12px
  h2
    text-align: left
    padding: 5px 5px 5px 15px
    margin: 0
    font:
      weight: bold
      size: 12px
    background-color: #cc0000
    color: white
  p
    margin: 8px 10px
  ul
    margin: 0
#logo
  float: left
  margin: -18px
  img
    padding: 0
    margin: 0
  span
    font-weight: bold
    font-size: 1.8em
    margin-top: 20px
#menu
  margin: 5px 3px
  #user_menu
    position: relative
    margin: 2px 5px
    background: #2d2d2d
    padding: 4px 6px
    color: #f1f1f1
    #show_list
      font-size: 11px
      padding: 2px 8px 
      margin: 0 5px
      img
        vertical-align: middle
    .empty
      background: #ccc
      color: #222
    .notificate
      background: #DD4B39
      color: #fff
      font-weight: bold
    .showing
      font-weight: normal
      color: #222
      background: #fff !important
      padding: 4px 8px !important
    #noti_list
      min-height: 100px
      background: #fff
      width: 190px
      top: 25px
      right: 10px
      font-size: 11px
      position: absolute
      z-index: 9999
      color: #666
      border: solid #ccc 1px
      -webkit-box-shadow: 3px 3px 5px 0px #ccc
      -moz-box-shadow: 3px 3px 5px 0px #ccc
      box-shadow: 3px 3px 5px 0px #ccc
      border-radius: 3px
      #noti_footer
        margin: 2px 0
        text-align: center
      .notification
        margin: 0 
        border-bottom: solid #ccc 1px
        padding: 5px
        &:hover
          background: #f1f1f1
      .unreaded
        font-weight: bold
#bar
  .title
    font-size: 20px
    padding: 5px
    color: #666
  margin: 30px 10px 10px 10px
  font-weight: bold
  background: #f1f1f1
  border-bottom: solid #ccc 1px
  .nav
    padding: 5px 0
    margin-top: 10px
    a
      padding: 5px 10px
  #prorjects_menu
  .selected
    a
      background: #fff
      color: #666
  #project_list
    border-radius: 3px
    -webkit-box-shadow: 3px 3px 5px 0px #ccc
    -moz-box-shadow: 3px 3px 5px 0px #ccc
    box-shadow: 3px 3px 5px 0px #ccc
    position: absolute
    background: #fff
    padding-bottom: 5px
    z-index: 10000
    margin: 5px 0
    .last_link
      width: 80%
      padding-top: 5px
      margin: 10px auto
      text-align: center
      border-top: 1px #ccc solid
      font-size: 11px
    ul
      margin: 0 0 0 10px
      padding: 5px 0 0 20px
      li
        margin: 5px
        .sub_title
          margin: -2px 10px
          color: #999
        .menu_link
          margin: 0
          a
            color: #666
            text-decoration: none
.button
  background: #f1f1f1
  padding: 5px
  margin: 10px 0
  border: solid #ccc 1px
  border-radius: 5px
  text-align: center
  a
    text-decoration: none
    font-weight: bold
  &:hover
    background: #2E6E9E
    border: #2E6E9E solid 1px
    a
      color: #F0EDE9 !important
#signup_form
  h1
    text-align: center
    color: #3D9400
  width: 40%
  margin: auto
  border-radius: 8px
  border: solid #ccc 7px
  padding: 10px
  label
    float: left
    margin-right: 10px
    margin-top: 2px
    width: 30%
    text-align: right
  input
    padding: 3px 5px
    width: 63%
    border: solid #ccc 1px
  #form_footer
    float: right
    width: 65%
    margin: 0 10px
    #submit_button
      float: right
      width: 50%
      input
        color: #2E6E9E
        font-weight: bold
        float: right
        border: solid #ccc 2px
        border-radius: 4px
        padding: 5px 10px 5px 20px
        background: #f1f1f1 url(/images/more.png) 2% 48% no-repeat
    #submit_links
      font-size: 11px
      float: left
      margin-left: 20px
      .links
        margin: 0 5px
#login_form
  width: 25%
  margin: 20px auto
  padding: 10px
  border: solid #ccc 7px
  border-radius: 8px
  .block
    margin: auto
    width: 80%
    .label
      color: #3D9400
      text-align: center
      font-weight: bold
      margin: 5px 0
    .input
      input
        font-size: 15px
        padding: 3px
        text-align: center
        margin: auto
        width: 99%
        border: solid 1px #ccc
    input[type='submit']
      float: right
      padding: 2px 10px
      margin: 15px -3px
#edit_form
  margin: 20px auto
  padding: 10px
  margin: 10px auto

  .col
    width: 47%
    margin: 0 10px
    label
      color: #3D9400
      text-align: center
      font-weight: bold
    input
      font-size: 15px
      padding: 3px
      margin: auto
      width: 99%
      border: solid 1px #ccc
  #form_footer
    margin: 0 5px
    input[type='submit']
      padding: 2px 10px
      margin: 15px 5px

.flash
  width: 30%
  margin: auto
  text-align: center
  padding: 5px
  font-size: 12px
  background-color: #ccffcc
  border: solid 1px #66cc66
  border-radius: 4px


ul#users
  list-style: none
  .user
    float: left
    width: 30%
    margin: 10px
    border: solid 2px #ccc
    border-radius: 4px
    padding: 5px
    .user_photo
      padding: 7px 5px
      width: 60px
    .user_info
      h2
        color: #3D9400
        margin: -5px 0
        padding: 5px 0
      margin-left: 5px
  .you
    background: transparent url(/images/user.png) 97% 15% no-repeat
    border: solid 2px #66cc66

.task_list_button
  a
    border: solid 1px #ccc
    border-radius: 5px
    color: #666
    text-decoration: none
    background: #f1f1f1
    font-weight: bold
    padding: 5px 10px
    margin: 5px
    float: left
    &:hover
      background: #4183C4
      //background: #DD4B39
      //border: solid 1px #DD4B39
      border: solid 1px blue
      color: #fff
.left
  float: left
.right
  float: right
#tabs
  a
    color: #2E6E9E

#list_tasks
  ul
    margin: 0
    padding: 0
    list-style: none
  li.task_item
    width: 15% !important
    margin: 5px
    height: 180px
.todo
  background: #fff
  border: solid 1px #ccc
.done
  border: solid 1px #66cc66
  background: #ccffcc
.progress
  border: solid 1px #EEF296
  background: #EEF296

#panel
  .panel
    float: left
    width: 32%
    margin: 7px
    .content
      min-height: 800px
      border: #ccc solid 1px
    .drophover
      background: #fafafa
    .title
      text-align: center
      padding: 5px 10px
      border: solid 1px #ccc
      border-bottom: #fff solid 1px
      border-top-left-radius: 5px
      border-top-right-radius: 5px
      color: #DD4B39
      font-weight: bold
      font-size: 17px

ul.content, ul#tasks
  list-style: none
  margin: 0 auto
  padding: 0
  li
    .move
      height: 17px
      background: transparent
      padding: 3px 5px
      border-top-left-radius: 5px
      border-top-right-radius: 5px
      font-size: 11px
      margin-top: -6px
      border-bottom: solid #666 1px
      .text
        float: left
      &:hover
        cursor: pointer
    .moving
      background: #666
      border: solid 1px #666 !important
      color: #fff
    border-radius: 5px
    margin: 4px
    padding: 5px 0
    .task
      margin: 5px 3px
      padding: 5px 10px
      max-height: 150px
      width: 140px
      font-size: 11px
      .user
        display: inline
      .label
        display: inline
        font-weight: bold
        margin: 0
      .task_description
        min-height: 70px
      .task_status,.priority
        color: #000
        margin: 3px 0
      .footer
        border-top: #222 1px solid
        padding-top: 5px
        font-size: 10px

#title
  font-size: 20px
  font-weight: bold
  margin: 5px 0

.text_area
  background: #f1f1f1
  padding: 5px
  border: solid #ccc 1px
  border-radius: 5px
  min-height: 50px
  textarea
    width: 99%

#col_right
  width: 20%
  padding: 10px

  #filter_projects
    div
      margin: 5px 0
    a
      text-decoration: none
    font-size: 12px
    .filter
      padding: 2px 20px 2px 2px
    .active
      color: #666
      font-weight: bold
      padding: 2px 20px 2px 2px
      background: transparent url(/images/minus.png) right center no-repeat
  #search_projects
    input
      float: left
      padding-left: 5px
      color: darkGrey
      width: 85%
      border: solid 1px #ccc !important
      -webkit-appearance: none
      &:focus
        color: #666
        border: solid 1px blue
#col_left
  border-right: solid 1px #ccc
  width: 75%
  padding: 10px
.project
  border: solid #ccc 1px
  padding: 5px
  margin: 5px 0
  .title
    padding-left: 30px
    font-size: 15px
    font-weight: bold
  .owner
    font-size: 11px
  .dates
    margin-top: 5px
    img
      margin: -1px 5px
    float: left
    font-size: 11px

.links, .more_link
  float: right
  font-size: 11px
.minus
  padding: 0  0 3px 20px
  background: url('/images/minus.png') no-repeat !important
.more
  padding: 0 0 3px  20px
  background: url('/images/more.png') 0 0 no-repeat

.open
  background: url('/images/open.png') 1% 8px no-repeat
.closed
  background: url('/images/closed.png') 1% 8px no-repeat
.reopened
  background: url('/images/reopened.png') 1% 8px no-repeat

ul#collaborators
  list-style: none
  margin: 0
  padding: 0
  li
    width: 100%
    padding: 3px
    line-height: 1em
    .collaborator_field
      float: left
      padding: 5px
    .email
      width: 45%
    .role
      width: 30%
      form
        margin-top: -6px
        float: left
        font-size: 12px
    .remove
      width: 5%
      text-align: right

#messages
  float: left
  width: 65%
  margin: 0 20px
  font-size: 11px
  padding: 3px 0 3px 30px
.notice
  border: solid 1px #66cc66
  background: #ccffcc url(/images/ok.png) 2% 49% no-repeat
.alert
  border: solid 1px #DD4B39
  background: #F2B6C5 url(/images/error.png) 2% 49% no-repeat
#tasks
  h3
    padding: 0
    margin: 8px 5px
#config
  h3
    margin: 0 10px
    padding: 5px
  #new_collaborator
    margin: -3px 5px
    width: 100%
    input#email
      padding: 3px 5px
      float: left
      margin: 3px 5px
      border: solid 1px #ccc
      border-radius: 3px
      font-size: 12px
      color: #666
      &:focus
        color: #000

.ui-autocomplete-loading
  background: white url('/stylesheets/images/ui-anim_basic_16x16.gif') right center no-repeat
.error_autocomplete
  background: #F2B6C5 url(/images/error.png) 98% center no-repeat
  border: solid 1px #DD4B39 !important
.ok_autocomplete
  background: #BDF2AE url(/images/ok.png) 98% center no-repeat
  border: solid 1px #66cc66 !important

#task
  .current_status, .current_assigned,
  .current_priority, .current_description
    form
      select
        font-size: 11px !important
        margin: 0
        padding: 0
  width: 600px
  padding: 10px
  #new_comment
    width: 100%
    margin: auto
    padding: 5px 3px
    background: #f1f1f1
    #body
      width: 95%
      margin: 0 auto
      #comment_input
        width: 99%
        margin: 3px 0
        background: #fff
        border: solid #ccc 1px
      #buttons_form
        font-size: 12px
  ul#comments
    margin: 0
    padding: 0
    list-style: none
    li
      margin: 5px 1px
      border: solid 1px #ccc
      padding: 3px
      .head
        padding: 3px 5px
        font-size: 11px
      .body
        padding: 5px
#project_form
  width: 70%
  margin: auto
  border: solid 1px #ccc
  border-radius: 5px
  padding: 10px
  h2
    margin: 0
    text-align: center
    padding: 0
    color: #3D9400
  #submit
    width: 96%
    margin: 5px auto
    input[type='submit']
      padding: 2px
      border-radius: 3px
      border: solid 1px #ccc
      width: 20%
  .col_left, .col_right
    width: 45%
    margin: 10px 15px
    float: left
    label
      font-weight: bold
    input
      border: solid 1px #f1f1f1
      width: 100%
  #description
    width: 96%
    margin: auto
    textarea
      margin: 5px 0
      width: 99%
      font-family: Ubuntu
      border: solid 1px #ccc
  #col_left
    float: left
    width: 47%
  #col_right
    float: left
    width: 45%
#activities
  h2
    margin: 10px 10px 20px 10px
  padding-bottom: 10px
  ul
    list-style: none
    margin: 0
    padding: 0
    li.activity
      width: 48%
      margin: 5px 10px 5px 5px
      .icon
        margin: 0px 5px
        float: left
      .resume
        margin-left: 30px
        font-size: 13px
      .when
        margin: 5px 0
        color: #666
        font-size: 11px
        border-bottom: solid 1px #ccc
        padding-bottom: 4px

