body {
  background-color: #4b7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

a {
  color: blue; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  width: 90%;
  margin: 0 auto;
  background: white;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px; }

#flash_notice,
#flash_error,
#flash_alert {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error,
#flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px; }
  .error_messages h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  .error_messages p {
    margin: 8px 10px; }
  .error_messages ul {
    margin: 0; }

.flash {
  width: 30%;
  margin: auto;
  text-align: center;
  padding: 5px 10px;
  background-color: #ccffcc;
  border: solid 1px #66cc66;
  border-radius: 4px; }

.task_list_button a {
  border: solid 1px #cccccc;
  border-radius: 5px;
  color: #666666;
  text-decoration: none;
  background: #f1f1f1;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  float: left; }
  .task_list_button a:hover {
    background: #dd4b39;
    border: solid 1px #dd4b39;
    color: white; }

.left {
  float: left; }

.right {
  float: right; }

#list_tasks ul {
  margin: 0;
  padding: 0;
  list-style: none; }
#list_tasks li.task_item {
  width: 15% !important;
  margin: 5px; }

.panel .content {
  min-height: 150px;
  border: #cccccc solid 1px;
  padding: 3px;
  margin: 5px 0; }
  .panel .content ul {
    list-style: none;
    margin: 0;
    padding: 0; }
.panel .drophover {
  background: #fafafa; }
.panel .title {
  color: #dd4b39;
  font-weight: bold; }

.progress {
  border: solid 1px #eef296;
  background: #eef296; }

.commited {
  border: solid 1px #c8d4fa;
  background: #c8d4fa; }

.aproved {
  border: solid 1px #a4f56e;
  background: #a4f56e; }

.merged {
  border: solid 1px #cccccc;
  background: #f1f1f1; }

.created {
  border: solid 1px #cccccc;
  background: white; }

.testing {
  border: solid 1px #dd4b39;
  background: #facac8; }

.task {
  border-radius: 5px;
  padding: 10px;
  height: 125px;
  width: 130px;
  margin: 5px;
  font-size: 11px; }
  .task .label {
    display: inline;
    font-weight: bold;
    margin: 0; }
  .task .task_description {
    height: 85px; }
  .task .task_status {
    color: black;
    margin: 3px 0; }
  .task .footer {
    border-top: #222222 1px solid;
    padding-top: 5px;
    font-size: 10px; }
  .task:hover {
    border: solid #666666 2px;
    margin: 4px;
    cursor: pointer; }
