body {
  background-color: #4b7399;
  font-family: Ubuntu, Verdana, Helvetica, Arial;
  font-size: 14px; }

a {
  color: #2e6e9e; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  width: 90%;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border: solid 1px black;
  margin-top: 20px; }

#flash_notice,
#flash_error,
#flash_alert {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error,
#flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px; }
  .error_messages h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  .error_messages p {
    margin: 8px 10px; }
  .error_messages ul {
    margin: 0; }

.flash {
  width: 30%;
  margin: auto;
  text-align: center;
  padding: 5px;
  font-size: 12px;
  background-color: #ccffcc;
  border: solid 1px #66cc66;
  border-radius: 4px; }

.task_list_button a {
  border: solid 1px #cccccc;
  border-radius: 5px;
  color: #666666;
  text-decoration: none;
  background: #f1f1f1;
  font-weight: bold;
  padding: 5px 10px;
  margin: 5px;
  float: left; }
  .task_list_button a:hover {
    background: #4183c4;
    border: solid 1px blue;
    color: white; }

.left {
  float: left; }

.right {
  float: right; }

#tabs a {
  color: #2e6e9e; }

#list_tasks ul {
  margin: 0;
  padding: 0;
  list-style: none; }
#list_tasks li.task_item {
  width: 15% !important;
  margin: 5px; }

.todo {
  background: white;
  border: solid 1px #cccccc; }

.done {
  border: solid 1px #66cc66;
  background: #ccffcc url(/images/ok.png) 95% 2% no-repeat; }

.progress {
  border: solid 1px #eef296;
  background: #eef296; }

#panel .panel {
  float: left;
  width: 32%;
  margin: 7px; }
  #panel .panel .content {
    min-height: 800px;
    border: #cccccc solid 1px; }
  #panel .panel .drophover {
    background: #fafafa; }
  #panel .panel .title {
    text-align: center;
    padding-right: 5px;
    border: solid 1px #cccccc;
    border-bottom: white solid 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #dd4b39;
    font-weight: bold;
    font-size: 17px; }

ul.content, ul#tasks {
  list-style: none;
  margin: 0 auto;
  padding: 0; }
  ul.content li, ul#tasks li {
    margin: 5px;
    border-radius: 5px;
    height: 200px; }
    ul.content li .move, ul#tasks li .move {
      font-size: 11px;
      text-align: center; }
      ul.content li .move:hover, ul#tasks li .move:hover {
        cursor: pointer; }
    ul.content li .task, ul#tasks li .task {
      padding: 10px;
      min-height: 150px;
      width: 140px;
      font-size: 11px; }
      ul.content li .task .label, ul#tasks li .task .label {
        display: inline;
        font-weight: bold;
        margin: 0;
        width: 40px; }
      ul.content li .task .task_description, ul#tasks li .task .task_description {
        height: 85px; }
      ul.content li .task .task_status, ul.content li .task .priority, ul#tasks li .task .task_status, ul#tasks li .task .priority {
        color: black;
        margin: 3px 0; }
      ul.content li .task .footer, ul#tasks li .task .footer {
        border-top: #222222 1px solid;
        padding-top: 5px;
        font-size: 10px; }
    ul.content li:hover, ul#tasks li:hover {
      border: solid #666666 2px !important;
      margin: 4px; }

#title {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0; }

#menu {
  margin: 10px 3px; }

#text_area {
  background: #f1f1f1;
  padding: 5px;
  border: solid #cccccc 1px;
  border-radius: 5px;
  min-height: 50px; }
  #text_area textarea {
    width: 99%; }

#col_right {
  width: 15%;
  padding: 10px; }

#col_left {
  width: 80%;
  padding: 10px; }

.project {
  border: solid #cccccc 1px;
  padding: 5px;
  margin: 5px 0; }
  .project .title {
    padding-left: 30px;
    font-size: 15px;
    font-weight: bold; }
  .project .owner {
    font-size: 11px; }
  .project .links, .project .more_link {
    float: right;
    font-size: 11px; }
  .project .minus {
    padding: 0 0 3px 20px;
    background: url("/images/minus.png") no-repeat !important; }
  .project .more {
    padding: 0 0 3px 20px;
    background: url("/images/more.png") 0 0 no-repeat; }

.open {
  background: url("/images/open.png") 1% 8px no-repeat; }

.closed {
  background: url("/images/closed.png") 1% 8px no-repeat; }

.reopened {
  background: url("/images/reopened.png") 1% 8px no-repeat; }

ul#collaborators {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul#collaborators li {
    width: 100%;
    padding: 3px;
    line-height: 1em; }
    ul#collaborators li .collaborator_field {
      float: left;
      padding: 5px; }
    ul#collaborators li .email {
      width: 45%; }
    ul#collaborators li .role {
      width: 30%; }
      ul#collaborators li .role form {
        margin-top: -6px;
        float: left;
        font-size: 12px; }
    ul#collaborators li .remove {
      width: 5%;
      text-align: right; }

#messages {
  float: left;
  width: 65%;
  margin: 0 20px;
  font-size: 11px;
  padding: 3px 0 3px 30px; }

.notice {
  border: solid 1px #66cc66;
  background: #ccffcc url(/images/ok.png) 2% 49% no-repeat; }

.alert {
  border: solid 1px #dd4b39;
  background: #f2b6c5 url(/images/error.png) 2% 49% no-repeat; }

input#email {
  padding: 3px 5px;
  border: solid 1px #cccccc;
  border-radius: 3px;
  font-size: 12px;
  color: #666666; }
  input#email:focus {
    color: black; }

.ui-autocomplete-loading {
  background: white url("/stylesheets/images/ui-anim_basic_16x16.gif") right center no-repeat; }

.error_autocomplete {
  background: #f2b6c5 url(/images/error.png) 98% center no-repeat;
  border: solid 1px #dd4b39 !important; }

.ok_autocomplete {
  background: #bdf2ae url(/images/ok.png) 98% center no-repeat;
  border: solid 1px #66cc66 !important; }

#task {
  width: 600px;
  padding: 10px; }
  #task .current_status form select, #task .current_assigned form select,
  #task .current_priority form select, #task .current_description form select {
    font-size: 11px !important;
    margin: 0;
    padding: 0; }
  #task #new_comment {
    width: 100%;
    margin: auto;
    padding: 5px 3px;
    background: #f1f1f1; }
    #task #new_comment #body {
      width: 95%;
      margin: 0 auto; }
      #task #new_comment #body #comment_input {
        width: 99%;
        margin: 3px 0;
        background: white;
        border: solid #cccccc 1px; }
      #task #new_comment #body #buttons_form {
        font-size: 12px; }
  #task ul#comments {
    margin: 0;
    padding: 0;
    list-style: none; }
    #task ul#comments li {
      margin: 5px 1px;
      border: solid 1px #cccccc;
      padding: 3px; }
      #task ul#comments li .head {
        padding: 3px 5px;
        font-size: 11px; }
      #task ul#comments li .body {
        padding: 5px; }

#project_form {
  width: 70%;
  margin: auto;
  border: solid 1px #cccccc;
  border-radius: 5px;
  padding: 10px; }
  #project_form h2 {
    margin: 0;
    text-align: center;
    padding: 0;
    color: #3d9400; }
  #project_form #submit {
    width: 96%;
    margin: 5px auto; }
    #project_form #submit input[type='submit'] {
      padding: 2px;
      border-radius: 3px;
      border: solid 1px #cccccc;
      width: 20%; }
  #project_form label {
    font-weight: bold; }
  #project_form input {
    border: solid 1px #f1f1f1;
    width: 100%; }
  #project_form #description {
    width: 96%;
    margin: auto; }
    #project_form #description textarea {
      margin: 5px 0;
      width: 99%;
      font-family: Ubuntu;
      border: solid 1px #cccccc; }
  #project_form #col_left {
    float: left;
    width: 47%; }
  #project_form #col_right {
    float: left;
    width: 45%; }
