:javascript
  $(function(){
    $('.notification').live('click',function(){
      $(this).html("<img src='/images/loading.gif'> updating...");
      var id = $(this).attr('data-id');
      $.get("/notifications/update?id="+ id);
      var unreaded = $('.unreaded').length; 
      $('a#show_list').text(unreaded);
    });  
    $('#noti_footer a').click(function(){
      $('#noti_list').hide();
      $('#show_list').removeClass('showing');
    })
  })
- @notifications.each do |n|
  .notification{:id => "notification_#{n.id}",'data-id' => n.id }
    = render :partial => 'users/notification', :locals => {:notification => n}
  
#noti_footer
  = link_to "Close", "#"          
     
