:javascript
  $(function(){
    $('.notification').live('click',function(){
      var id = $(this).attr('data-id');
      $.get("/notifications/update?id="+ id, function(){
        var unreaded = $('.unreaded').length; 
        $('a#show_list').text(unreaded); 
      },'script');
     
    });  
    $('#noti_footer a').click(function(){
      if ($('#show_list').text() == '0'){
        $('#show_list').removeClass('notificate');
        $('#show_list').addClass('empty');
      }
      $('#noti_list').hide();
      $('#show_list').removeClass('showing');
    })
  })
- @notifications.each do |n|
  .notification{:id => "notification_#{n.id}",'data-id' => n.id }
    = render :partial => 'users/notification', :locals => {:notification => n}
  
#noti_footer
  = link_to "Close", "#"          
     
