%h1{:style => "text-align: center;width: 60%;margin: 0 auto"}
  Welcome to anana!
#go{:style => "text-align:center;width: 50%;margin: 20px auto"}
  .button.left{:style => "width: 40%;padding: 10px"}
    = link_to "Login", login_path
  .button.right{:style => "width: 40%;padding: 10px"}
    = link_to "Sign up!", signup_path
  .clear  
